﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<canvas id="myCanvas" width="1280" height="800"
        style="border:1px solid #c3c3c3;">
    Your browser does not support the canvas element.
</canvas>

<button onclick="loadLevels()">Load Levels</button>